# Backend URL for Socket.io (e.g., https://your-app-server.onrender.com)
VITE_BACKEND_URL=https://server-jv1l.onrender.com

# Frontend URL for CORS (e.g., https://your-app.vercel.app)
VITE_FRONTEND_URL=https://gekiatsu.vercel.app/
